<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Dependencies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form th:action="@{/employees/{username}(username=${sessionUser})}">
    <button type="submit" style="font-size:24px" title="Go to your profile"><i class="fa fa-user-circle-o"></i></button>
</form>
<h1>Add Dependencies</h1>
<form th:action="@{/projects/{pid}/tasks/{tid}/add-dependency(pid=${pid}, tid=${tid})}" method="post">
    <fieldset>
        <fieldset>
            <legend>Tasks/subtasks</legend>
            <div th:each="task, iter : ${allTasks}">
                <input type="checkbox" th:id="'blocked by task/subtask-' + ${task.getID()}" th:value="${task.getID()}" th:text="${task.taskTitle}" name="blockedByTaskIDs">
            </div>
        </fieldset>

        <button type="submit">Add</button>
        <a th:href="@{/projects/{pid}/tasks/{tid}(pid = ${pid}, tid = ${tid})}" class="btn" th:text="Cancel"></a>
    </fieldset>
</form>
</body>
</html>