<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Assignees</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body class="add-assignees-page">


<header>
    <form th:action="@{/employees/{username}(username=${sessionUser})}">
        <button class="profile-button"><i class="fa fa-user-circle-o"></i></button>
    </form>
</header>

<main class="assign-container">

    <h1>Assign Workers</h1>

    <form class="assign-box"
          th:action="@{/projects/{pid}/tasks/{tid}/subtasks/{sid}/assign-workers(pid=${pid}, tid=${tid}, sid=${sid})}"
          th:object="${assigneeDTO}"
          method="post">

        <fieldset class="assign-list">
            <legend>Select employees to assign</legend>

            <div class="checkbox-column"
                 th:each="user : ${allWorkers}">
                <label class="checkbox-row">
                    <input type="checkbox"
                           th:field="*{usernames}"
                           th:value="${user.employeeUsername}">
                    <span th:text="${user.employeeName}"></span>
                </label>
            </div>
        </fieldset>

        <div class="assign-buttons">
            <a th:href="@{/projects/{pid}/tasks/{tid}/subtasks/{sid}(pid=${pid}, tid=${tid}, sid=${sid})}"
               class="cancel-btn">
                Cancel
            </a>

            <button type="submit" class="add-btn">Assign</button>
        </div>

    </form>

</main>

<footer>© 2025 Plannex</footer>

</body>
</html>
