<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add subtask</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body class="add-subtask-page">

<header>
    <form th:action="@{/employees/{username}(username=${sessionUser})}">
        <button class="profile-button"><i class="fa fa-user-circle-o"></i></button>
    </form>
</header>

<main class="add-subtask-container">

    <h1>Add subtask</h1>

    <form class="add-subtask-box"
          th:action="@{/projects/{pid}/tasks/{tid}/add-subtask(pid=${pid}, tid=${tid})}"
          th:object="${subtask}" method="post">

        <!-- REQUIRED HIDDEN FIELDS -->
        <input type="hidden" th:field="*{parentProjectID}">
        <input type="hidden" th:field="*{parentTaskID}">

        <!-- LEFT COLUMN -->
        <div class="desc-column">
            <label>Description</label>
            <textarea th:field="*{taskDescription}" required></textarea>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="right-column">

            <label>Title</label>
            <input th:field="*{taskTitle}" required>

            <div class="date-row">
                <div>
                    <label>Start date</label>
                    <input type="date" th:field="*{taskStart}" required>
                </div>

                <div>
                    <label>End date</label>
                    <input type="date" th:field="*{taskEnd}" required>
                </div>
            </div>

        </div>

        <!-- BOTTOM -->
        <div class="bottom-row">

            <div class="duration-field">
                <label>Duration (hours)</label>
                <input type="text" th:field="*{taskDurationHours}" required>
            </div>

            <a th:href="@{/projects/{pid}/tasks/{tid}(pid=${pid}, tid=${tid})}"
               class="cancel-btn">Cancel</a>

            <button type="submit" class="add-btn">Add</button>

        </div>

    </form>


</main>

<footer>© 2025 Plannex</footer>

</body>
</html>
