<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Team</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form th:action="">
    <button type="submit" style="font-size:24px"><i class="fa fa-user-circle-o"></i></button>
</form>
<h1>Create Team</h1>
<form th:action="@{/}" th:object="${team}" method="post">
    <fieldset>
        <label for="title">Title</label>
        <input id="title" th:field="*{teamTitle}" required>

        <label for="project">Project</label>
        <select id="project" th:each="project, iter : ${allProjects}" required>
            <option th:id="'product-' + ${project.getID()}" th:value="${project.getID()}" th:text="${project.getTitle()}"></option>
        </select>

        <fieldset>
            <legend>Users <a th:href="@{/}">+</a></legend>
            <div th:each="user, iter : ${team.getAllUsers()}">
                <p th:text="${user.username}"></p>
            </div>
        </fieldset>

        <button type="submit">Create</button>
        <button th:href="@{}">Cancel</button>
    </fieldset>
</form>
</body>
</html>