<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body class="create-user-page">

<header>
    <form th:action="@{/employees/{username}(username=${sessionUser})}">
        <button class="profile-button" type="submit">
            <i class="fa fa-user-circle-o"></i>
        </button>
    </form>
</header>

<main class="create-user-container">

    <h1>Create user</h1>

    <form class="create-user-box"
          th:action="@{/employees/add-employee}"
          th:object="${user}"
          method="post">

        <!-- LEFT -->
        <label>Name</label>
        <input th:field="*{employeeName}" required>

        <label>Email</label>
        <input th:field="*{employeeEmail}" required>

        <label>Bio</label>
        <textarea class="bio-box"></textarea>

        <!-- RIGHT -->
        <label>Username</label>
        <input th:field="*{employeeUsername}" required>

        <label>Password</label>
        <input type="password" th:field="*{employeePassword}" required>

        <label>Works from</label>
        <input type="time" th:field="*{workingHoursFrom}">

        <label>Works to</label>
        <input type="time" th:field="*{workingHoursTo}">

        <label for="permissions">Set permissions</label>
        <select id="permissions" name="permissions" required>
            <option value="">Please select an option</option>
            <option th:value="'Worker'" th:text="'Worker'"></option>
            <option th:value="'Manager'" th:text="'Manager'"></option>
        </select>

        <!-- BUTTONS -->
        <div class="create-user-buttons">
            <a th:href="@{/employees}" class="cancel-btn">Cancel</a>
            <button class="add-btn" type="submit">Create</button>
        </div>

    </form>

</main>

<footer>
    © 2025 Plannex
</footer>

</body>
</html>
