<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit task</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body class="task-edit-page">

<header>
    <form th:action="@{/employees/{username}(username=${sessionUser})}">
        <button class="profile-button"><i class="fa fa-user-circle-o"></i></button>
    </form>
</header>

<main class="task-edit-container">

    <h1>Edit task</h1>

    <form class="task-edit-box"
          th:action="@{/projects/{pid}/tasks/{tid}/edit(pid=${pid}, tid=${tid})}"
          th:object="${task}" method="post">

        <div class="edit-grid">

            <div class="edit-left">
                <label>Description</label>
                <textarea class="description-input"
                          th:field="*{taskDescription}"
                          required></textarea>
            </div>

            <div class="edit-right">

                <label>Title</label>
                <input type="text" th:field="*{taskTitle}" required>

                <label>Start date</label>
                <input type="date" th:field="*{taskStart}" required>

                <label>End date</label>
                <input type="date" th:field="*{taskEnd}" required>

                <label>Duration (hours)</label>
                <input type="text" th:field="*{taskDurationHours}" required>
            </div>

        </div>

        <input type="hidden" th:field="*{parentTaskID}">
        <input type="hidden" th:field="*{parentProjectID}">
        <input type="hidden" th:field="*{ID}">

        <div class="button-row">

            <a class="cancel-btn"
               th:href="@{/projects/{pid}/tasks/{tid}(pid=${pid}, tid=${tid})}">
                Cancel
            </a>

            <a class="task-edit-delete-btn"
               th:if="${isManager}"
               th:href="@{/projects/{pid}/tasks/{tid}/delete(pid=${pid}, tid=${tid})}">
                Delete
            </a>


            <button type="submit" class="update-btn">Update</button>

        </div>


    </form>

</main>

<footer>© 2025 Plannex</footer>

</body>
</html>
