<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit task</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form th:action="">
    <button type="submit" style="font-size:24px"><i class="fa fa-user-circle-o"></i></button>
</form>
<h1>Edit task</h1>
<form th:action="@{/}" th:object="${task}" method="post">
    <fieldset>
        <fieldset>
            <legend>Description</legend>
            <label for="description"></label>
            <input id="description" th:field="*{description}" th:value="${task.getDescription}" required>
        </fieldset>

        <label for="title">Title</label>
        <input id="title" th:field="*{title}" required>

        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" th:field="*{StartDate}" th:value="${task.getStartDate}"  required>

        <label for="endDate">End Date</label>
        <input type="date" id="endDate" th:field="*{EndDate}" th:value="${task.getEndDate}"  required>

        <label for="status">Status</label>
        <input type="text" id="status" th:field="*{Status}" th:value="${task.getStatus}"  required>

        <label for="priority">Priority</label>
        <input type="text" id="priority" th:field="*{Importance}" th:value="${task.getImportance}"  required>

        <label for="duration">Duration (hours)</label>
        <input type="text" id="duration" th:field="*{Duration}" th:value="${task.getDuration}" required>

        <button type="submit">Update</button>
        <button th:href="@{}">Cancel</button>
    </fieldset>
</form>
</body>
</html>