<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit task</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form th:action="@{/employees/{username}(username=${sessionUser})}">
    <button type="submit" style="font-size:24px" title="Go to your profile"><i class="fa fa-user-circle-o"></i></button>
</form>
<h1>Edit task</h1>
<form th:action="@{/projects/{pid}/tasks/{tid}/edit(pid=${pid}, tid=${tid})}" th:object="${task}" method="post">
    <fieldset>
        <fieldset>
            <legend>Description</legend>
            <label for="description"></label>
            <input id="description" th:field="*{taskDescription}" th:value="${task.taskDescription}" required>
        </fieldset>

        <input type="hidden" th:field="*{parentTaskID}" th:value="${task.parentTaskID}">
        <input type="hidden" th:field="*{parentProjectID}" th:value="${task.parentProjectID}">
        <input type="hidden" th:field="*{ID}" th:value="${task.ID}">

        <label for="title">Title</label>
        <input id="title" th:field="*{taskTitle}" required>

        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" th:field="*{taskStart}" th:value="${task.taskStart}"  required>

        <label for="endDate">End Date</label>
        <input type="date" id="endDate" th:field="*{taskEnd}" th:value="${task.taskEnd}"  required>

        <label for="duration">Duration (hours)</label>
        <input type="text" id="duration" th:field="*{taskDurationHours}" th:value="${task.taskDurationHours}" required>

        <button type="submit">Update</button>
        <a th:href="@{/projects/{pid}/tasks/{tid}(pid=${pid}, tid=${tid})}" class="btn" th:text="Cancel"></a>
    </fieldset>
</form>
</body>
</html>