<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Subtask</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body class="edit-subtask-page">

<!-- Profile button -->
<header>
    <form th:action="@{/employees/{username}(username=${sessionUser})}">
        <button class="profile-button"><i class="fa fa-user-circle-o"></i></button>
    </form>
</header>

<main class="edit-subtask-container">

    <h1>Edit subtask</h1>

    <!-- FORM START -->
    <form th:action="@{/projects/{pid}/tasks/{tid}/subtasks/{sid}/edit(pid=${pid}, tid=${tid}, sid=${sid})}"
          th:object="${subtask}" method="post"
          class="edit-subtask-box">

        <!-- LEFT COLUMN -->
        <div class="edit-left">
            <label>Description</label>
            <textarea th:field="*{taskDescription}" required></textarea>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="edit-right">

            <label>Title</label>
            <input th:field="*{taskTitle}" required>

            <label>Start date</label>
            <input type="date" th:field="*{taskStart}" required>

            <label>End date</label>
            <input type="date" th:field="*{taskEnd}" required>

            <label>Duration (hours)</label>
            <input type="text" th:field="*{taskDurationHours}" required>

        </div>

        <!-- Hidden fields -->
        <input type="hidden" th:field="*{parentTaskID}">
        <input type="hidden" th:field="*{parentProjectID}">
        <input type="hidden" th:field="*{ID}">

        <!-- BUTTON ROW -->
        <div class="edit-button-row">

            <a th:href="@{/projects/{pid}/tasks/{tid}/subtasks/{sid}(pid=${pid}, tid=${tid}, sid=${sid})}"
               class="cancel-btn">
                Cancel
            </a>

            <a th:if="${isManager}"
               th:href="@{/projects/{pid}/tasks/{tid}/subtasks/{sid}/delete(pid=${pid}, tid=${tid}, sid=${sid})}"
               class="subtask-edit-delete-btn">
                Delete
            </a>

            <button type="submit" class="update-btn">Update</button>
        </div>


    </form>
</main>

<footer>© 2025 Plannex</footer>

</body>
</html>
