<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects Window</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<form th:action="@{/employees/{username}(username=${sessionUser})}">
    <button type="submit" style="font-size:24px" title="Go to your profile"><i class="fa fa-user-circle-o"></i></button>
</form>
<body>
<h1>Your Projects</h1>
<fieldset th:each="project, iter : ${allProjects}">
    <h2 th:text="${project.getProjectTitle()}"></h2>
    <fieldset>
        <p th:text="${#numbers.formatDecimal(employeesInvolved[iter.index], 0 , 0)}" style="font-size:14px"><i class="fa fa-user"></i></p>
        <p th:text="${#numbers.formatDecimal(timeSpents[iter.index], 0, 0)}"><i class="fa fa-clock-o"></i></p>
        <p th:text="${startDates[iter.index]}" style="font-size:14px"><i class="fa fa-clock-o"></i></p>
        <p th:text="${endDates[iter.index]}" style="font-size:14px"><i class="fa fa-clock-o"></i></p>
    </fieldset>
</fieldset>

    <fieldset th:if="${isManager}">
        <form th:action="@{/projects/add-project}">
            <button type="submit" style="font-size:50px" title="Add a project">+</button>
        </form>
    </fieldset>
</body>
</html>