<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Window</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body class="task-page">

<header>
    <form th:action="@{/projects/{pid}(pid=${pid})}">
        <button class="profile-button"><i class="fa fa-arrow-circle-left"></i></button>
    </form>

    <form th:action="@{/employees/{username}(username=${sessionUser})}">
        <button class="profile-button"><i class="fa fa-user-circle-o"></i></button>
    </form>

    <form th:action="@{/logout}">
        <button class="profile-button"><i class="fa fa-times-circle"></i></button>
    </form>
</header>

<main class="task-container">

    <div class="task-header-row">

        <div class="task-box">
            <legend>
                <span th:text="${task.taskTitle}"></span>
                <a class="edit-btn"
                   th:if="${isManager}"
                   th:href="@{/projects/{pid}/tasks/{tid}/edit(pid=${pid}, tid=${task.ID})}">
                    Edit
                </a>

            </legend>

            <div class="task-info-body">
                <p th:text="'Start: ' + ${task.taskStart}"></p>
                <p th:text="'End: ' + ${task.taskEnd}"></p>
            </div>
        </div>

        <div class="task-box small-box">
            <legend>Dependencies</legend>

            <div class="list-area">
                <p th:each="dependency : ${dependencies}"
                   th:text="${dependency.first()} + ' blocked by ' + ${dependency.second()}"></p>
            </div>
        </div>

    </div>

    <div class="task-resources-row">

        <div class="task-box">
            <legend>Artifacts</legend>
            <div class="list-area">
                <p th:each="artifact : ${artifacts}"
                   th:text="${artifact.second()} + ' uploaded by ' + ${artifact.first()}"></p>
            </div>
        </div>

        <div class="task-box">
            <legend>Resources</legend>

            <div class="list-area">
                <p><i class="fa fa-clock-o"></i> <span th:text="${#numbers.formatDecimal(timeSpent, 0 , 0)} + ' hours'"></span></p>
                <p><i class="fa fa-user"></i> <span th:text="${assignees.size()} + ' employees'"></span></p>
            </div>
        </div>

    </div>

    <div class="subtasks-section">
        <legend>Subtasks</legend>

        <div class="subtask-grid">

            <div class="subtask-card"
                 th:each="subtask, iter : ${subtasks}"
                 th:onclick="|window.location='@{/projects/{pid}/tasks/{tid}/subtasks/{sid}(pid=${pid}, tid=${task.ID}, sid=${subtask.ID})}'|">

                <h3 th:text="${subtask.taskTitle}"></h3>

                <div class="subtask-meta">
                    <p><i class="fa fa-user"></i> <span th:text="${subtaskAssignees[iter.index].size()}"></span></p>
                    <p><i class="fa fa-clock-o"></i> <span th:text="${#numbers.formatDecimal(subtaskTimeSpents[iter.index], 0, 0)} + ' h'"></span></p>
                </div>
            </div>


            <div class="subtask-card add-subtask" th:if="${isManager}">
                <form th:action="@{/projects/{pid}/tasks/{tid}/add-subtask(pid=${pid}, tid=${task.ID})}">
                    <button type="submit">+</button>
                </form>
            </div>

        </div>
    </div>

</main>

<footer>© 2025 Plannex</footer>

</body>
</html>
