<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Window</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form th:action="">
    <button type="submit" style="font-size:24px"><i class="fa fa-user-circle-o"></i></button>
</form>
<fieldset>
    <fieldset>
        <legend th:text="Task ${task.getID()} - start/end - status - importance "></legend>
        <p th:text="${task.getStartDate}"></p>
        <p th:text="${task.getEndDate}"></p>
        <p th:text="${task.getStatus}"></p>
        <p th:text="${task.getImportance}"></p>
    </fieldset>

    <fieldset>
        <legend>Teams</legend>
        <p th:text="${task.getTaskMembers()}"></p>
    </fieldset>

    <fieldset>
        <legend>Dependencies</legend>
        <p th:text="${task.getDependantTasks}"></p>
    </fieldset>

    <fieldset>
        <legend>Artefacts</legend>
        <p th:text="${task.getArtefacts}"></p>
    </fieldset>

    <fieldset>
        <legend>Resources</legend>
        <p th:text="${task.getResources}"></p>
    </fieldset>

    <fieldset>
        <legend>Subtasks (x/y)</legend>
        <fieldset th:each="subtask, iter : ${task.getAllSubtasks()}">
            <h2 th:text="Sub ${subtask.getID()}"></h2>
            <fieldset>
                <p th:text="${subtask.getUserAmount()}" style="font-size:14px"><i class="fa fa-user"></i></p>
                <p th:text="${subtask.getTimeEstimate}" style="font-size:14px"><i class="fa fa-clock-o"></i></p>
            </fieldset>
        </fieldset>

        <fieldset>
            <form th:action="">
                <button type="submit" style="font-size:50px">+</button>
            </form>
        </fieldset>
    </fieldset>
</fieldset>

</body>
</html>