<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="employees-page">

<header>
    <form th:action="@{/employees/{username}(username=${sessionUser})}">
        <button class="profile-button"><i class="fa fa-user-circle-o"></i></button>
    </form>
</header>

<div class="employees-container">

    <h1>Employees</h1>

    <section class="employees-box">

        <div class="employees-box-header">
            <span>Employees</span>
            <a th:href="@{/employees/add-employee}" title="Add an employee" class="plus-btn">+</a>
        </div>

        <div class="employees-list" th:each="user : ${allUsers}">
            <div class="employee-row">
                <span th:text="${user.employeeUsername}"></span>

                <a th:href="@{/employees/{username}/edit(username=${user.employeeUsername})}" title="Edit">
                    <i class="fa fa-edit"></i>
                </a>

                <a th:href="@{/employees/{username}/delete(username=${user.employeeUsername})}" title="Delete">
                    <i class="fa fa-remove"></i>
                </a>
            </div>
        </div>

    </section>

</div>

<footer>
    © 2025 Plannex
</footer>

</body>
</html>
